QWidget {
    background-color: BGCOLOR;
}

QMessageBox {
    background-color: BGCOLOR;
}

QLabel {
    color: LACOLOR;
}

QPushButton {
    color: LACOLOR;
    background-color: BGCOLOR;
    border: 2px solid LACOLOR;
    width: 65px;
    height: 25px;
}

QMenu {
    background-color: BGCOLOR;
    border: 2px solid LACOLOR;
}

QMenu::item {
    background-color: transparent;
    color: LACOLOR;
}

QMenu::item:selected {
    background-color: DACOLOR;
}

QMenu::separator {
    height: 2px;
    background: DACOLOR;
}

QTextEdit {
    background-color: BGCOLOR;
    color: FCOLOR;
    border-style: none;
    font-family: FFAMILY;
    font-size: FSIZE;
    font-weight: FBOLD;
    font-style: FITALIC;
    text-decoration: FUNDERLINE;
    selection-color: SCOLOR;
    selection-background-color: SBCOLOR;
}

QScrollBar:vertical {
    margin: 20px 0px 20px 0px;
    border: 2px solid BGCOLOR;
    width: 15px;
}

QScrollBar::handle:vertical {
    background: SCCOLOR;
    min-height: 20px;
}

QScrollBar::sub-line:vertical {
    background: SCCOLOR;
    width: 11px;
    height: 15px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::add-line:vertical {
    background: SCCOLOR;
    width: 11px;
    height: 15px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    width: 15px;
    background: none;
}
